
.one {
    background-color: black;
    background-image: url("https://images.pexels.com/photos/997443/pexels-photo-997443.jpeg?auto=compress&cs=tinysrgb&w=1600");
    object-fit: contain;
    height:1005px;
    width:1800px;
    padding: 8em;
    background-repeat: no-repeat;
    background-size: 100%;
}

.container span{
    color: white;
    font-family: "pacifico", cursive;
    display: block;
}

.container{
    text-align: center;
    width: 100%;
}

.header{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 5px;
}