
.one {
    background-image: url("https://images.pexels.com/photos/997443/pexels-photo-997443.jpeg?auto=compress&cs=tinysrgb&w=1600");
    object-fit: contain;
    height:1005px;
    width:1800px;
    padding: 8em;
    background-repeat: no-repeat;
    background-size: 100%;
}

.container span{
    color: white;
    font-family: "pacifico", cursive;
    display: block;
}

.container{
    text-align: center;
    width: 100%;
}

.header{
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 6px;
    margin-bottom: 20px;
    background: #2E2E2E;
    position: relative;
    animation: text 2.5s 1;
}

.header2{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 4px;
}

@keyframes text{
    0%{
        color:transparent;
        margin-bottom: -70px;
    }
    30%{
        letter-spacing: 20px;
        margin-bottom: -70px;
    }
    85%{
        letter-spacing: 7px;
        margin-bottom: -70px;
    }
}

.hlinks{
    font-size: 25px;
    
}